
<div>
    <h2>Add Student Details</h2>
        <form action="addStudent" method="post">
            <input type="text" name="id" id="id" placeholder="Enter Id" />
            <br/>
            <input type="text" name="name" id="name" placeholder="Enter name" />
            <br/>
            <input type="text" name="email" id="email" placeholder="Enter email" />
            <br />
            <input type="text" name="mobileno" id="mobileno" placeholder="Enter mobile number" />
            <br />
            <input type="text" name="address" id="address" placeholder="Enter address" />
            <br />
            <input type="text" name="admission_date" id="admission_date" placeholder="Enter admission date" />
            <br />
            <input type="text" name="fees" id="fees" placeholder="Enter fees" />
            <br />
            <input type="text" name="status" id="status" placeholder="Enter status" />
            <br />
            <button type="submit" name="btn" id="btn" value="btn">Submit</button>
        </form>
    </div>

