<div>
    <h2>Student Deleting By Student's Id</h2>
    <form action="deleteStudent" method="post">
        <input type="type" name="id" id="id" placeholder="Enter Id" />
        <button type="submit" name="btn" id="btn">Submit</button>
    </form>
</div>